<header>
  <div class="header-container">
    <a href="{{ site.baseurl }}/" class="logo">
      <div class="logo-text">
        <div class="logo-top">
          <img src="{{ site.baseurl }}/kokoro-full-marta-white-orange.png" alt="Kokoro">
        </div>
      </div>
    </a>

    <nav class="nav-menu">
      <div class="nav-links">
        <a href="{{ site.baseurl }}/qui-soc.html">Qui sóc?</a>
        <a href="{{ site.baseurl }}/com-treballo.html">Com treballo?</a>
        <a href="#contacte">Contacte</a>
      </div>

      <button class="mobile-menu-btn" aria-label="Menú">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </button>
    </nav>
  </div>
</header>
